

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.menu {
  border:3px solid #888;
  background:#eee;
  margin:15px 0;
}

nav ul {
  background:#eee;
  padding:0;
}
nav a {
  background:#bbb;
}















